
body {
    margin: 0;
    font-family: 'Poppins', Arial, sans-serif;
    background: #f4f4f9;
    color: #333;
    background-color: #f4f4f9;

}

h1,
h2,
h3 {
    margin: 0;
    font-weight: bold;
}
* {
    transition: all 0.5s ease;
    user-select: none;
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For Internet Explorer/Edge */
}

a,div {
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: transparent; 

}
button{
    -webkit-tap-highlight-color: transparent; 
}
.test{
    width:100px;
    height: 100px;
    fill: #bbbbbb;
}

.vs{
    width:40px;
    height:40px;
}
.team-header{
    background: linear-gradient(135deg, #a10000,#480000);
    padding: 15px;
    color: #fff;
    font-weight: bold;

}
.team_nick{
    display: flex;
   

}
.teams{
    justify-content: center;
    display: flex;
    gap: 10px;
}
.teams img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.img_container2,
.img_container {
    width: 50px;
    height: 50px;
    overflow: hidden;
    position: relative;
    border-radius: 100px;
}

.time{
    font-weight: normal;
    color: #fff;
    text-align: center;
    font-size:14px;
    margin-right:4px;
}

.contest_join{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 22px;
    font-weight: bold;
    justify-content: center;
}
.left_deg{
    width: 60px;
    height: 4px;
    background: linear-gradient(135deg, #aeaeae,#ffffffbb);
    border-radius:0 100% 100% 0;
}

.right_deg{
    width: 60px;
    height: 4px;
    background: linear-gradient(135deg,#ffffffbb ,#aeaeae);
    border-radius:100% 0 0 100%;
}
.contest_con{
    display: flex;
align-items: center;
    flex-direction: column;
    margin: auto;
    max-width:50%;
    gap: 15px;
    padding-bottom: 50px;
}
.cnt_card{
    width:70%;
    border: 2px solid #adadad;
    border-radius: 12px;
    padding-top:12px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.268);

}
.cnt_card p{
    font-size: 14px;
    color: #777777;
    margin: 0;
}

.cnt_card .total_prize{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size:20px;
    padding: 6px 0;
    
}
.cnt_card .entry{
   background:  linear-gradient(90deg,#24be48,#28a745);
   color: #fff;
   font-size: 16px;
   padding: 5px 25px;
   border-radius: 6px;
   cursor: pointer;
}
.cnt_card .joined{
   background:  linear-gradient(90deg,#5c5c5c,#929292);

}
.card{
    width:94%;
    margin: auto;
}
.filled_bar .spots{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.filled_bar .filler{
    margin-top: 6px;
    height:6px;
    border-radius:10px;
    background:#ffc2c2;
}
.filled_bar .filler .inc_filler{
    background-color: rgb(246, 67, 67);
    height: 100%;
    border-radius:10px;
    overflow: hidden;
}

.prize{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 18px;
    padding: 8px;
    background:#e8ebff9e;
    border-radius: 0 0 10px 10px;
    margin-left: -19px;
}
.top_prize{
    width: 40px;
  height: 20px;
  display: flex;
  align-items: center;
  position: relative;
  left: 13px;
}
.prize p{
    color: #424242;
    
}
.prize .img_con{
    width:25px;
    height: 25px;
    overflow: hidden;
    border-radius: 100%;
}
.prize .img_con img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.prz_img{
    width:25px;
    height:25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.exit{
    position: absolute;
    top: 30px;
    left: 30px;
    width:33px;
    rotate: 270deg;
    cursor: pointer;
}
@media(max-width:1300px){
    .contest_con{
        max-width:60%;
    }
    .cnt_card{
        width:80%;
    }
}

@media(max-width:1050px){
    .contest_con{
        max-width:70%;
    }
    .cnt_card{
        width:85%;
    }
}

@media(max-width:800px){
    .contest_con{
        max-width:80%;
    }
    .cnt_card{
        width:90%;
    }
}
@media(max-width:600px){
    .contest_con{
        max-width:85%;
    }
    .cnt_card{
        width:95%;
    }
    .exit{
        left: 20px;
    }
}

@media(max-width:500px){
    .contest_con{
        max-width:90%;
    }
    .cnt_card{
        width:99%;
    }
}
@media(max-width:450px){
    .contest_con{
        max-width:92%;
    }
    .cnt_card{
        width:99%;
    }
}